* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Circular Std Medium";
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
}
