@import "utilidades";
.menu {
  @include container;
  display: flex;

  place-content: center;
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px 20px;
    border-bottom: 2px solid $primary-color;
    a {
      display: block;
      color: $secondary-color;
      padding: 8px 20px;
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: $primary-color;
        transition: 0.2s;
      }
    }
  }
}
