@import "utilidades";

.introduce {
  @include container;
  position: relative;
  justify-items: center;
  place-content: center;
  height: 100vh;
  gap: 40px;
  .introduce-text {
    text-transform: uppercase;
    text-align: center;
    color: $secondary-color;
    h1 {
      font-size: 48px;
      margin-bottom: 8px;
      position: relative;

      &::before {
        content: "";
        height: 12px;
        width: 64px;
        display: inline-block;
        background-color: $primary-color;
        position: absolute;
        z-index: -1;
        bottom: 8px;
        opacity: 0;
        animation: slide-left 12s 1;
      }
      &::after {
        content: "|";
        opacity: 1;
        animation: pulsing 1s infinite;
      }
    }
    p {
      font-size: 20px;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      padding: 12px;
      &:hover {
        transition: 0.2s;
        transform: scale(1.2);
      }
    }
  }
  .arrow {
    animation: slide-down 1s infinite;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes pulsing {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
