@import "utilidades";

.introduce {
  @include container;
  position: relative;
  justify-items: center;
  place-content: center;
  height: 100vh;
  gap: 24px;
  .introduce-text {
    text-transform: uppercase;
    text-align: center;
    color: $secondary-color;
    h1 {
      font-size: 48px;
      opacity: 0;
      animation: showUp 1s forwards 0.1ms;
      margin-bottom: 8px;
      position: relative;

      &::before {
        content: "";
        height: 12px;
        width: 64px;
        display: inline-block;
        background-color: $primary-color;
        position: absolute;
        opacity: 0;
        animation: slide-left 2s forwards 2s;
        z-index: -1;
        bottom: 8px;
      }
      &::after {
        content: "|";
        opacity: 1;
        animation: pulsing 1s infinite;
      }
    }
    p {
      opacity: 0;
      animation: showUp 1s forwards 2s;
      font-size: 20px;
      margin-bottom: 8px;
      position: relative;
    }
  }
  .line {
    content: "";
    display: block;
    background-color: $primary-color;
    width: 200px;
    height: 2px;
    opacity: 0;
    animation: showUp 2s forwards 2.1s;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    animation: showUp 2s forwards 2.1s;

    a {
      padding: 12px;
      &:hover {
        transition: 0.2s;
        transform: scale(1.2);
      }
    }
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pulsing {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
