@import "utilidades";

.sobre {
  @include container;
  justify-items: center;
  margin-bottom: 80px;
  .its-me {
    width: 200px fit-content;
    height: 200px;
    border-radius: 500%;
    margin-bottom: 28px;
  }
  .sobre-text {
    text-align: center;
    padding: 0 20px;
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
  }
}
.tecnologias-bg {
  background-color: $secondary-color;
  h2 {
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
  }
  .tecnologias {
    @include container;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 48px;
    padding: 40px 0;
  }
}
