$primary-color: #b7ddb4;
$secondary-color: #001606;
$tertiary-color: #ddb4b4;
$bg-color: #ffffff;

@mixin shadowForAll() {
  box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.4);
}
@mixin container() {
  max-width: 1060px;
  margin: 0 auto;
}
