* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Circular Std Medium";
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
}

.menu-bg {
  background-color: #ffffff;
}
.menu-bg .menu {
  display: grid;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
}
.menu-bg .menu .menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 16px 20px;
  border-bottom: 2px solid #b7ddb4;
}
.menu-bg .menu .menu-list a {
  color: #001606;
  padding: 8px 20px;
  text-transform: uppercase;
}
.menu-bg .menu .menu-list a:hover, .menu-bg .menu .menu-list a:focus {
  background-color: #b7ddb4;
  transition: 0.2s;
}

.introduce {
  display: grid;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  justify-items: center;
  place-content: center;
  height: 100vh;
  gap: 24px;
}
.introduce .introduce-text {
  text-transform: uppercase;
  text-align: center;
  color: #001606;
}
.introduce .introduce-text h1 {
  font-size: 48px;
  opacity: 0;
  animation: showUp 1s forwards 0.1ms;
  margin-bottom: 8px;
  position: relative;
}
.introduce .introduce-text h1::before {
  content: "";
  height: 12px;
  width: 64px;
  display: inline-block;
  background-color: #b7ddb4;
  position: absolute;
  opacity: 0;
  animation: slide-left 2s forwards 2s;
  z-index: -1;
  bottom: 8px;
}
.introduce .introduce-text h1::after {
  content: "|";
  opacity: 1;
  animation: pulsing 1s infinite;
}
.introduce .introduce-text p {
  opacity: 0;
  animation: showUp 1s forwards 2s;
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
}
.introduce .line {
  content: "";
  display: block;
  background-color: #b7ddb4;
  width: 200px;
  height: 2px;
  opacity: 0;
  animation: showUp 2s forwards 2.1s;
}
.introduce .icons {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  animation: showUp 2s forwards 2.1s;
}
.introduce .icons a {
  padding: 12px;
}
.introduce .icons a:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pulsing {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.sobre {
  display: grid;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
  justify-items: center;
  margin-bottom: 80px;
}
.sobre .its-me {
  width: 200px -moz-fit-content;
  width: 200px fit-content;
  height: 200px;
  border-radius: 500%;
  margin-bottom: 28px;
}
.sobre .sobre-text {
  text-align: center;
  padding: 0 20px;
}
.sobre .sobre-text h3 {
  margin-bottom: 20px;
}
.sobre .sobre-text p {
  margin-bottom: 20px;
}

.tecnologias-bg {
  background-color: #001606;
}
.tecnologias-bg h2 {
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
}
.tecnologias-bg .tecnologias {
  display: grid;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 48px;
  padding: 40px 0;
}

.projetos {
  display: grid;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px 20px;
}
.projetos h1 {
  text-align: center;
  margin-bottom: 40px;
}
.projetos .projetos-list {
  background-color: #ffffff;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.projetos .projetos-list li {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  padding: 12px 28px;
  border-radius: 8px;
}
.projetos .projetos-list li h2 {
  display: flex;
  font-size: 20px;
  margin-bottom: 8px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.projetos .projetos-list li h2:after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 2px;
  background-color: #001606;
}
.projetos .projetos-list li span {
  display: inline-block;
  align-items: center;
  background-color: #b7ddb4;
  padding: 4px 12px;
  margin-bottom: 12px;
}
.projetos .projetos-list li p {
  margin-bottom: 12px;
}
.projetos .projetos-list li .buttons {
  display: flex;
  gap: 40px;
}
.projetos .projetos-list li .buttons .rep {
  color: black;
  padding: 4px 8px;
  background-color: #ddb4b4;
}
.projetos .projetos-list li .buttons .rep:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.projetos .projetos-list li .buttons .dem {
  color: white;
  padding: 4px 8px;
  background-color: #001606;
}
.projetos .projetos-list li .buttons .dem:hover {
  transition: 0.2s;
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */